@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #000000;
    --foreground: #FFFFFF;
    --card: rgb(28 28 28 / 70%);
    --card-foreground: #FFFFFF;
    --popover: #1C1C1C;
    --popover-foreground: #FFFFFF;
    --primary: #FC3C44;
    --primary-foreground: #FFFFFF;
    --secondary: rgb(255 255 255 / 10%);
    --secondary-foreground: #FFFFFF;
    --muted: #2C2C2C;
    --muted-foreground: #A1A1A6;
    --accent: rgb(255 255 255 / 10%);
    --accent-foreground: #FFFFFF;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #E5E7EB;
    --input: #E5E7EB;
    --ring: #7C3AED;
    --chart-1: #E86343;
    --chart-2: #2A9187;
    --chart-3: #2F3F4A;
    --chart-4: #D9B64E;
    --chart-5: #E67E33;
    --radius: 0.5rem;

    --sidebar-background: #FAFAFA;
    --sidebar-foreground: #3F3F46;
    --sidebar-primary: #18181B;
    --sidebar-primary-foreground: #FAFAFA;
    --sidebar-accent: #F4F4F5;
    --sidebar-accent-foreground: #18181B;
    --sidebar-border: #E5E7EB;
    --sidebar-ring: #3B82F6;
  }

  .dark {
    --background: #000000;
    --foreground: #FFFFFF;
    --card: rgb(28 28 28 / 70%);
    --card-foreground: #FFFFFF;
    --popover: #1C1C1C;
    --popover-foreground: #FFFFFF;
    --primary: #FC3C44;
    --primary-foreground: #FFFFFF;
    --secondary: rgb(255 255 255 / 10%);
    --secondary-foreground: #FFFFFF;
    --muted: #2C2C2C;
    --muted-foreground: #A1A1A6;
    --accent: rgb(255 255 255 / 10%);
    --accent-foreground: #FFFFFF;
    --destructive: #7F1D1D;
    --destructive-foreground: #FFFFFF;
    --border: #2D2E33;
    --input: #2D2E33;
    --ring: #9F7AEA;
    --chart-1: #3B82F6;
    --chart-2: #2DD4BF;
    --chart-3: #FB923C;
    --chart-4: #C084FC;
    --chart-5: #F87171;

    --sidebar-background: #18181B;
    --sidebar-foreground: #F4F4F5;
    --sidebar-primary: #3B82F6;
    --sidebar-primary-foreground: #FFFFFF;
    --sidebar-accent: #27272A;
    --sidebar-accent-foreground: #F4F4F5;
    --sidebar-border: #27272A;
    --sidebar-ring: #3B82F6;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

nextjs-portal {
  display: none;
}
